html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	background: grey;
}

/* Nav */

.top-navigation {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	padding: 0px 15px;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 16px;
	margin: 25px 0 0 0;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .logo {
	height: 4.375rem;
}

/* Introduction Hero */
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45rem;
	overflow: auto;
}

